@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sora", sans-serif;
    background-color: #FAFAF9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    width: 362px;
    height: 380px;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px 5px #E5EAF0;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 362px;

}

img {
    width: 336px;
    height: 152px;
    margin: 16px auto;
    border-radius: 16px;
}

button {
    width: 60px;
    height: 20px;
    border-radius: 15px;
    font-size: 10px;
    background-color: #E6D6FC;
    color: #883AE1;
    border: none;
    margin-top: 6px;
    margin-left: 16px;
}

h2 {
    margin-top: 8px;
    margin-left: 16px;
    font-size: 18px;
    font-weight: 800;
}

p {
    font-size: 14px;
    color: #6C727F;
    margin: 6px 16px 20px 16px;
}

hr {

    height: 0;
    color: #E5EAF0;
}

span {
    font-size: 10px;
    color: #6C727F;
    margin-left: 16px;
    padding-bottom: 20px;
    padding-top: 20px;
}